@font-face{
    font-family: 'Montserrat_ExtraLight';
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}
@font-face{
    font-family: 'Montserrat_Light';
    src: url(../fonts/Montserrat-Light.ttf);
}
@font-face{
    font-family: 'Montserrat_Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: 'Raleway_Bold';
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: 'Raleway_Extrabold';
    src: url(../fonts/Raleway-ExtraBold.ttf);
}
@font-face{
    font-family: 'Raleway_Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: 'Raleway_Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: 'Raleway_SemiBold';
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: 'Roboto_regular';
    src: url(../fonts/Roboto-Regular.ttf);
}